<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<style type="text/css">
	span {color: orange;}
</style>
<div id="app"></div>
<script type="text/template" id="tpl">
	<h1>
		<% if (type) { %>
		<span><%=type%> | </span>
		<% } %>
		<strong><%=content%></strong>
	</h1>
</script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript">
var data = {
	type: '科技',
	content: '千亿成交额背后:双11是每个商家躲不过的“劫”'
}

var tpl = _.template(document.getElementById('tpl').innerHTML);
// 格式化数据
var html = tpl(data);
// 将字符串渲染到页面中
document.getElementById('app').innerHTML = html;
</script>
</body>
</html>